.buttonsMenu{
  text-align:center;
  margin:auto;
}

.buttonsMenu button {
  text-align: center;
  vertical-align: middle;
  padding: 8px 23px;
  border: 1px solid #000000;
  border-radius: 0px;
  background: #0f151a;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f151a), to(#7ee3fc));
  background: -moz-linear-gradient(top, #0f151a, #7ee3fc);
  background: linear-gradient(to bottom, #0f151a, #7ee3fc);
  font: normal normal 15px arial;
  color: #ffffff;
  text-decoration: none;
}

.buttonsMenu button:hover {
  border: 0px solid #2e94b3;
  background: #12191f;
  background: -webkit-gradient(linear, left top, left bottom, from(#12191f), to(#97ffff));
  background: -moz-linear-gradient(top, #12191f, #97ffff);
  background: linear-gradient(to bottom, #12191f, #97ffff);
  color: #ffffff;
  text-decoration: none;
}

.buttonsMenu button:active {
  background: #090d10;
  background: -webkit-gradient(linear, left top, left bottom, from(#090d10), to(#7ee3fc));
  background: -moz-linear-gradient(top, #090d10, #7ee3fc);
  background: linear-gradient(to bottom, #090d10, #7ee3fc);
}

  .buttonGroupContent{
  margin:30px auto;
  text-align:center;
}

.buttonGroupContent select{
  padding:5px;
  margin:0px 10px;
}

.buttonProfessorContent {
  margin: 30px auto;
  text-align: center;
}

.buttonProfessorContent select {
  padding: 5px;
  margin: 0px 10px;
}

.buttonSubjectContentAll {
  text-align: center;
  margin: 30px auto;
}

.buttonSubjectContentAll select {
  padding: 5px;
  margin: 0px 10px;
}

.buttonRoomContentAll {
  text-align: center;
  margin: 30px auto;
}

.buttonRoomContentAll select {
  padding: 5px;
  margin: 0px 10px;
}

  .buttonSearch {
    -moz-box-shadow: inset 0px 0px 15px 3px #23395e;
    -webkit-box-shadow: inset 0px 0px 15px 3px #23395e;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
    background: -moz-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: -webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: -o-linear-gradient(top, #2e466e 5%, #415989 100%);
    background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
    background-color: #2e466e;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 2px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    margin: 0px 10px;
  }
