/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("Photos/network.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}
